* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

#header {
    background-color: #2e1114;
    color: white;
    display: flex;
    align-items: center;
    padding: 30px;
}

#header img {
    height: 50px;
    margin-right: 20px;
}

#headerBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

#nav-links {
    display: flex;
    list-style-type: none;
    /* outline: 2px solid white; */
    gap: 50px;
    flex-wrap: wrap;

}

#nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* done with header bar--------------*/

#container {
    /* height: 1000px; */
    background-image: linear-gradient(#adadad, #64485c);
    padding: 3em 5em;
}

h3 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

#aboutMe img {
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px white;
}

.responsive {
    width:80%;
    height:auto;
}

.resp2 {
    width: 15%;
    height: auto;
}


#aboutMe {
    background-color: #83677b;
    padding: 10px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#aboutMe p {
    padding: 0px 20px;
    font-weight: 500;
    color: white;
    line-height: 30px;
}

/* about me done --------------------------*/

#education {
    background-color: #83677b;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.schoolBox img {
    height: 60px;
}

.schoolBox {
    outline: 2px solid white;
    margin: 10px 0px;
    box-shadow: 0px 0px 10px white;
}

.schoolBoxTop {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    padding: 10px;
    justify-content: center;
    font-size: 1.4rem;
}

.schoolBottomBox {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
}

/* education done --------------- */

.restOfTheBoxes {
    background-color: #83677b;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.hobbyBox img {
    height: 200px;
    margin-top: 10px
}

.hobbyBox {
    text-align: center;
    color: white;
    padding: 10px 0px;
}

.hobbyBox p {
    font-size: 1.2rem;
}

/*hobbys done ---------------------------*/

/*skipping projects for now------------------------*/

#languagePics {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#languagePics img {
    height: 200px;
    margin: 20px 0px 10px;
}

.restOfTheBoxesLanguage {
    background-color: #83677b;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
    color:white;
    font-size: 1.3rem;
}

/* done with languages---------------------*/

#socialMediaLink img {
    height: 30px;
    margin: 10px;
}

#socialMediaLink {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#socialMediaLink p {
    color: white;
    font-size: 1.2rem;
}